header{
	background:#1c2635;
	height:60px;
}
.top{
	display: inline;
	float: right;
	color: white;
	}
li{color: white;
		float:right;
		margin-top: 10px;
		padding: 10px 10px 10px 10px;
	}
.top{
		margin-left: 30px;
	}
a:hover{
 text-shadow: 1px 1px 1px red;
}
.middle{
	background:#223c65;
	height: 600px;
	width: 1440px;

}
.b{text-align:center;
	font-size: 18px;
	font-family: sans-serif;
	color:grey;
}
.a{text-align:center;
	font-size: 40px;
	font-family: sans-serif;
	color:white;}
.c{
	color: white;
	padding-top: 15px;
	font-size: 15px;
	padding-left: 10px;
}
.d{
	padding-top: 40px;
	text-align: right;
	font-size: 13px
}
.comment{margin-top: 30px;
	height: 150px;
	width: 600px;
	background:#1c2635;
	margin-left: 250px;
}
.pic{
	margin-top:15px; 
}
.twitter{
	margin-top: 100px;
	padding-top: 10px;
	align-content: 
	height: 150px;
	background:white;

}
.e{
	color: white;
	font-style: italic;
	margin-left: 250px;
	margin-top: 50px;
	font-size: 25px;
}
.foot{
	text-align: center;
	margin-top: 30px;
	font-size: 20px;
}